
// Colors
$grey: #333333;
$mgreg-blue: #1E73BE;
$mgreg-grey: #2c3e50;

// Navigation colors
$nav-background: $mgreg-grey;
$nav-text-color: white;
$nav-link-color: $mgreg-blue;

// Clock variables
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
